# Creality CR-30 PrintMill
# STM32F103, 28KiB bootloader, USART1 PA10/PA9

#[include timelapse.cfg]

[mcu]
serial: /dev/klipper_printer3
restart_method: command

# Raspberry Pi 4 network GPIO peripheral
[pi4_gpio]
host: 192.168.88.20
port: 9000

[temperature_sensor pi]
sensor_type: temperature_host
min_temp: 10
max_temp: 85


[stepper_x]
step_pin: PC2
dir_pin: !PB9
enable_pin: !PC3
microsteps: 16
rotation_distance: 40
endstop_pin: ^!PA3
position_endstop: 0
position_max: 220
homing_speed: 50

[stepper_y]
step_pin: PB8
dir_pin: !PB7
enable_pin: !PC3
microsteps: 16
rotation_distance: 40
endstop_pin: ^!PA7
position_endstop: 0
position_max: 240
position_min: -2

[stepper_z]
step_pin: PB6
dir_pin: !PB5
enable_pin: !PC3
microsteps: 16
rotation_distance: 2.75
endstop_pin: ^!PA5
#position_endstop: 0.0
position_max: 20000000

[extruder]
step_pin: PB4
dir_pin: !PB3
enable_pin: !PC3
microsteps: 16
full_steps_per_rotation: 200
gear_ratio: 50:10
rotation_distance: 22.7213

nozzle_diameter: 0.800
filament_diameter: 1.750

heater_pin: PA0
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC5

min_temp: 0
max_temp: 270

[filament_switch_sensor filament_sensor]
switch_pin: ^!PA6
pause_on_runout: False
runout_gcode:
    FILAMENT_RUNOUT
insert_gcode:
    FILAMENT_INSERTED

[heater_bed]
heater_pin: PA1
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC4
min_temp: 0
max_temp: 130


# K-FAN1
# Original: host:gpio14
# New: Raspberry Pi 4 GPIO14
[fan]
pin: pi4:gpio14
max_power: 1.0
shutdown_speed: 0


# Original: host:gpio15
# New: Raspberry Pi 4 GPIO15
[heater_fan hotend_fan]
pin: pi4:gpio15
heater: extruder
heater_temp: 50.0
max_power: 1.0
shutdown_speed: 0


# K-FAN2
#[fan_generic k_fan2]
#pin: PC0

# K-FAN3
[fan_generic k_fan3]
pin: PC1


[temperature_sensor mcu_temp]
sensor_type: temperature_mcu
min_temp: 0
max_temp: 85

[output_pin led]
pin: PC14


# Neopixel LED support
#[neopixel led_neopixel]
#pin: PC14


# BL-touch
#[bltouch]
#control_pin: PB0
#sensor_pin: PB1


# TMC Uart Mod Pins:
# https://github.com/adelyser/Marlin-CR30/wiki
#[tmc2208 stepper_x]
#uart_pin: PB0
#
#[tmc2208 stepper_y]
#uart_pin: PB1
#
#[tmc2208 stepper_z]
#uart_pin: PA13
#
#[tmc2208 extruder]
#uart_pin: PA14


[output_pin beeper]
pin: PC6


[printer]
kinematics: corexy
max_velocity: 300
max_accel: 800
max_z_velocity: 5
max_z_accel: 100
square_corner_velocity: 1.5


# Override to support unlimited belt size
# (homing Z simply resets its virtual position to 0.0)
[homing_override]
axes: z
set_position_z: 0
gcode:
  {% if params.X is not defined and params.Y is not defined and params.Z is not defined %}G28 X0 Y0{% endif %}
  {% if params.X is defined %}G28 X0{% endif %}
  {% if params.Y is defined %}G28 Y0{% endif %}
  G92 Z0


# Eject all printed parts from the belt
[gcode_macro BED_EJECT]
gcode:
  TURN_OFF_HEATERS
  G28
  G1 X50 Y50
  G1 Z420 F4000
  G28 Z0


[idle_timeout]
timeout: 43200


[gcode_macro FILAMENT_RUNOUT]
gcode:
    M117 Filament Runout
    PAUSE


[gcode_macro PAUSE]
rename_existing: BASE_PAUSE
variable_extrude: 1.0
gcode:
    {% set E = printer["gcode_macro PAUSE"].extrude|float %}

    SAVE_GCODE_STATE NAME=PAUSE_state

    BASE_PAUSE

    G91
    G1 E-{E} F2100

    G90

    G1 X10 Y200 F6000

    G91
    G1 Z1 F1200
    G90

    M117 Print Paused


[gcode_macro RESUME]
rename_existing: BASE_RESUME
gcode:
    G91
    G1 E1.5 F300
    G90

    RESTORE_GCODE_STATE NAME=PAUSE_state MOVE=1

    M400

    BASE_RESUME


[include mainsail.cfg]

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 35.511
#*# pid_ki = 3.482
#*# pid_kd = 90.554
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 69.022
#*# pid_ki = 1.679
#*# pid_kd = 709.205
#*#
#*# [stepper_z]
#*# position_endstop = 0
