[Unit]
Description=Klipper 3D Printer Firmware SV1
Documentation=https://www.klipper3d.org/
After=network-online.target
Wants=udev.target

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
User=fabian
RemainAfterExit=yes
WorkingDirectory=/home/fabian/klipper
EnvironmentFile=/home/fabian/printer_3_data/systemd/klipper.env
ExecStart=/home/fabian/klippy-env/bin/python $KLIPPER_ARGS
Restart=always
RestartSec=10
