[Unit]
Description=uStreamer webcam 2
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=fabian
ExecStart=/usr/bin/ustreamer -d /dev/v4l/by-path/pci-0000:00:14.0-usb-0:3.1:1.0-video-index0 -m MJPEG -c HW -s 0.0.0.0 -p 8081
Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target
